# env / secrets
.env
*.env

# data & artifacts
**/*.zip
**/*.xml
**/*.csv
**/*.sqlite
**/*.db

# logs
logs/
*.log

# python
__pycache__/
*.pyc
.venv/

# mac
.DS_Store

*.csv
!phr/
!phr/sql/
!phr/sql/meta/
!phr/sql/meta/*.csv
